@import "./sectionsInMain/_turnoSection.css";

main {
  border-radius: var(--borderRadius_Sections);
  /* box-shadow: var(--shadow_MainSections); */
  outline: var(--border_MainSections);
  background-color: rgba(255, 228, 196, 0.4);
  
  width: 100%;
  padding: 1.5rem;
  
  > section {
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    padding-right: 0.5rem;
  }
}