@import "./sectionsInMain/_turnoSection.css";
@import "./sectionsInMain/_postForms.css";
@import "./sectionsInMain/_editModal.css";

main {
  background-color: rgb(113, 113, 113);
  
  width: 100%;
  padding: 1.5rem;
  
  > section {
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-right: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.searchElement {
  border: 2px solid;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;

  input[type="search"] {
    border: 0;
    border-radius: 0;
    width: 100%;
    text-indent: 40px;
  }

  .icon {
    margin-left: calc(10px + 0.2rem);
  }
}

.tableNavbar {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.5rem;
  padding-left: 0;
  border-top-left-radius: var(--borderRadius_Sections);
  border-top-right-radius: var(--borderRadius_Sections);

  background-color: var(--colorPrimario);
}

.iconButton {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: 0.4rem 0.6rem;

  .icon {
    left: 0;
    position: static;
  }
}

.icon {
  position: absolute;
  width: 20px;
  height: 20px;

  path, circle {
    stroke: var(--fontColor_darkScheme);
  }

  &.dark path, &.dark circle {
    stroke: var(--backgrounColor_darkScheme);
  }
}

.searchForm  {
  align-items: center;
  background-color: var(--colorPrimario);
  color: var(--fontColor_darkScheme);
  margin: 1rem 0;

  &.simple {
    flex-flow: row wrap;
    justify-content: space-between;
  }

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .searchers {
    width: 100%;
    justify-content: space-around;

    & > div {
      width: 50%;
    }

    label {
      min-width: 30%;
      input {
        width: 100%;
      }
    }
  }

  input, select {
    color: var(--fontColor_darkScheme);
    background-color: var(--colorPrimario);

    &:focus-visible {
      background-color: transparent;
    }
  }

  option {
    color: var(--backgrounColor_darkScheme);
  }
}

.resultMessage {
  padding: 1rem;
  border: 3px rgba(0, 0, 0, 0.4) solid;
  border-radius: 8px;
  width: 80%;
  align-self: center;

  &.error {
    background-color: rgb(139, 0, 0);
  }

  &.ok {
    background-color: rgb(5, 83, 5);
  }

  &.warn {
    background-color: rgb(138, 138, 0);
  }
}

@media (prefers-color-scheme: light) {
  main {
    background-color: rgb(187, 187, 187);
  }

  .icon path {
    stroke: var(--backgrounColor_darkScheme);
  }
}

@media (max-width: 1024px) or (max-height: 720px) {
  main {
    width: auto;
    height: 100%;
    overflow-x: scroll;
    
    > section {
      overflow-y: scroll;
    }
  }
}
