@import "./sectionsInMain/_turnoSection.css";
@import "./sectionsInMain/_postForms.css";

main {
  border-radius: var(--borderRadius_Sections);
  /* box-shadow: var(--shadow_MainSections); */
  /* outline: var(--border_MainSections); */
  background-color: rgba(211, 211, 211, 0.4);
  
  width: 100%;
  padding: 1.5rem;
  
  > section {
    box-sizing: border-box;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    padding-right: 0.5rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.searchElement {
  border: 2px solid;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;

  input[type="search"] {
    border: 0;
    border-radius: 0;
    width: 100%;
    text-indent: 40px;
  }

  .icon {
    margin-left: calc(10px + 0.2rem);
  }
}

.tableNavbar {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0.5rem;
  padding-left: 0;
  border-top-left-radius: var(--borderRadius_Sections);
  border-top-right-radius: var(--borderRadius_Sections);

  background-color: var(--colorPrimario);
}

.iconButton {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0.4rem 0.6rem;

  .icon {
    left: 0;
    position: static;
    margin: 0;
  }
}

.icon {
  position: absolute;
  width: 20px;
}
