#mainNavbar {
  background-color: var(--colorPrimario);
  color: rgba(255, 255, 255, 0.87);

  min-width: 250px;
  width: min-content;

  padding: 1rem;
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  .logo {
    border-radius: 100%;
    width: 200px;
    aspect-ratio: 1;
    border: 12px solid var(--logoMainColor);
    box-sizing: border-box;
  }

  &>header {
    align-self: center;
    text-align: center;


    h2 {
      margin: 0.5rem 0;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    ul {
      padding-left: 2rem;

      a:hover {
        text-decoration: underline;
      }
    }
  }

  summary, .linkList a {
    cursor: pointer;
  }

  .linkList {
    & > li {
      border: 1px solid;
      border-radius: 8px;
      padding: 0.4rem 0.6rem;

      background-color: rgba(255, 255, 255, 0.1);
      transition: background-color 300ms;

      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }

    li + li {
      margin-top: 12px;
    }

    summary {
      display: flex;
      h3 {margin: 0;}
    }

    details[open]>summary {
      color: var(--logoMainColor);
    }
  }
  
  .buttonList {
    position: absolute;
    align-self: center;
    width: 100%;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
  
    display: flex;
    justify-content: space-evenly;

    >li>div {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;

      >p {
        position: absolute;
        top: -2rem;
        width: max-content;
        display: none;
        font-weight: 700;

      }
      
      &:hover > p {
        display: block;
      }
    }

    >li:first-child p {
      align-self: flex-start;
    }

    >li:last-child p {
      align-self: flex-end;
    }
    
    .iconButton {
      border-radius: 100%;
      border-color: var(--logoMainColor);
      aspect-ratio: 1;
      background-color: rgb(192, 226, 255);
      transition: background-color 600ms;

      &:hover {
        background-color: var(--logoMainColor);
      }
    }
  }

  a, a:hover {
    color: unset;
  }

  .emptySession {
    margin: 1rem 0;
  }
}

@media (max-width: 1024px) or (max-height: 680px) {
  #mainNavbar {
    display: grid;
    grid-template: 
      "logo row1" 52px 
      "row2 row2" 52px/
      76px auto;
    gap: 8px;
    align-items: center;
    width: 100%;

    &>section {
      grid-area: row1;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      grid-area: logo; 
      width: 64px;
      border-width: 6px;
    }

    .buttonList {
      grid-area: row1;
      width: min-content;
      position: static;
      gap: 8px;
    }

    .linkList {
      grid-area: row2;
      display: flex;
      align-items: center;
      gap: 8px;

      li + li {
        margin: 0;
      }
    }
  }
}