#mainNavbar {
  background-color: rgb(5, 5, 178);
  color: rgba(255, 255, 255, 0.87);
  box-shadow: 10px 10px 0 grey;
  border-radius: 15px;

  min-width: 250px;
  width: min-content;

  padding: 1rem;
  box-sizing: border-box;
  position: relative;

  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */

  &>header {
    align-self: center;
    text-align: center;

    img {
      border-radius: 100%;
      width: 200px;
      aspect-ratio: 1;
      border: 4px solid rgba(64,168,179,1);
    }

    h2 {
      margin: 0.5rem 0 3rem;
    }
  }

  ul {
    list-style: none;
    padding: 0;

    ul {
      padding-left: 2rem;

      li:hover {
        text-decoration: underline;
      }
    }
  }

  summary, .linkList ul>li {
    cursor: pointer;
  }

  .linkList {
    & > li {
      border: 1px solid;
      border-radius: 8px;
      padding: 0.4rem 0.6rem;

      background-color: rgba(255, 255, 255, 0.1);
      transition: background-color 300ms;

      &:hover {
        background-color: rgba(255, 255, 255, 0.25);
      }
    }

    li + li {
      margin-top: 12px;
    }

    summary {
      display: flex;
      h3 {margin: 0;}
    }
  }
  
  .buttonList {
    position: absolute;
    align-self: center;
    bottom: 0;
  
    display: flex;
    gap: 8px;
  }
}