@import "./_navbar.css";
@import "./_mainZone.css";
@import "./_gridStyles.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(225, 225, 225); /* 0.87 alpha*/
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --borderRadius_Sections: 16px;
  --border_MainSections: 4px solid rgb(128, 128, 128);

  --shadow_MainSections: 8px 12px 2px rgb(96, 96, 96);

  --logoMainColor: rgb(64,168,179);
  --colorPrimario: rgb(6, 6, 105);
  --colorFormsTables: rgba(28, 28, 13, 0.2);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;

  display: flex;
  flex-direction: column;
  place-items: center;
}

#root {
  padding: 2rem;
  min-width: 320px;
  width: 100%;
  max-width: 1366px;
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  gap: 1rem;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 2px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

input[type="checkbox"] {
  border: 1px solid;
  border-radius: 8px;
  width: 1.1rem;
  aspect-ratio: 1;

  /* appearance: none; */
  transition: background-color 200ms;

  /* &:checked {
    background-color: var(--colorPrimario);
  } */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
    --colorPrimario: rgb(5, 5, 178);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
