@import "./_navbar.css";
@import "./_mainZone.css";
@import "./_gridStyles.css";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--fontColor_darkScheme); /* 0.87 alpha*/
  background-color: var(--backgrounColor_darkScheme);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --borderRadius_Sections: 16px;
  --border_MainSections: 4px solid rgb(128, 128, 128);

  --shadow_MainSections: 8px 12px 2px rgb(96, 96, 96);

  --logoMainColor: rgb(64,168,179);
  --colorPrimario: rgb(6, 6, 105);
  --colorFormsTables: rgba(35, 35, 31, 0.2);

  --fontColor_darkScheme: rgb(225, 225, 225);
  --backgrounColor_darkScheme: #242424;

  --maxWidthViewport: 1366px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;

  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 2rem;
}

#root {
  min-width: 320px;
  width: 100%;
  max-width: var(--maxWidthViewport);
  height: calc(100vh - 4rem);
  box-sizing: border-box;

  display: flex;
  border-radius: var(--borderRadius_Sections);
  overflow: hidden;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 2px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;

  &:disabled {
    cursor: default;
  }
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

input[type="checkbox"] {
  border: 1px solid;
  border-radius: 8px;
  width: 1.1rem;
  aspect-ratio: 1;

  transition: background-color 200ms;
}

textarea {
  resize: none;
}

form {
  padding: 2rem;
  border-radius: var(--borderRadius_Sections);
  
  display: flex;
  flex-direction: column;
  gap: 8px;
  
  background-color: var(--colorFormsTables);
  
  input, select {
    background-color: transparent;
    border: 0;
    border-bottom: 4px solid;
    padding: 0.4rem;
    font-weight: 600;

    &::placeholder {
      color: rgb(203, 203, 203);
      font-weight: 400;
    }

    &:focus-visible {
      outline: 0;
      background-color: var(--colorFormsTables);
    }
  }

  option {
    color: black;
  }
  
  > button {
    margin-top: 0.5rem;
    align-self: flex-end;
  }

  .moreInfo {
    display: none;
    background-color: var(--colorFormsTables);
    padding: 1rem;

    p {
      cursor: default;
    }
  }

  .moreInfoLabel:focus-within + .moreInfo, .moreInfo:hover{
    display: block;
  }

  input[type="search"] {
    border: 2px solid;
    border-radius: 8px;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--fontColor_darkScheme);
    --colorPrimario: rgb(5, 5, 178);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--fontColor_darkScheme);
  }
}
