.registerSection {

  > header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  form {
    align-items: flex-start;
    
    > label {
      width: 100%;
      display: grid;
      grid-template-columns: minmax(15ch, 25ch) auto;
      gap: 1ch;
    }

    .checkboxContainer label {
      display: flex;
      align-items: center;
      gap: 1ch;
      width: min-content;

      &, > * {
        cursor: pointer;
      }
    }
  }
}