.registerSection {

  > header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  form {
    align-items: flex-start;
    
    > label {
      width: 100%;
      display: grid;
      grid-template-columns: minmax(15ch, 25ch) auto;
      gap: 1ch;
    }

    .checkboxContainer label {
      display: flex;
      align-items: center;
      gap: 1ch;
      width: min-content;

      &, > * {
        cursor: pointer;
      }
    }
  }
}

#userProfile {
  section > h2, details > h2 {
    margin-bottom: 1rem;
  }

  > details {
    display: flex;
    flex-direction: column;
  }

  summary {
    width: max-content;
    cursor: pointer;
    align-self: flex-end;
  }
}

.editDialog {
  width: 80%;
  max-width: calc(var(--maxWidthViewport) - 250px);
  position: relative;
  border-radius: var(--borderRadius_Sections);

  .iconButton {
    border: 0;
    font-size: 1.5rem;

    position: absolute;
    top: 0.5rem;
    right: 0.5rem;

    &:hover {
      color: red;
      transition: color 300ms;
    }
  }
}