#dailyTurnos {
  display: flex;
  flex-direction: column;

  h2 {
    align-self: center;
  }

  > details {
    /* overflow-y: scroll; */

    article.dailyTurno {
      border: 1px solid;
      border-radius: var(--borderRadius_Sections);
      margin-bottom: 8px;
      background-color: rgba(0, 128, 0, 0.3);

      &.unavailable {
        background-color: rgba(255, 0, 0, 0.3);
      }
    }
  }
}

.mainDetails {
  filter: drop-shadow(var(--shadow));

  > section {
    padding: 1rem;
    border: 2px solid;
    border-top: 0;
    border-bottom-left-radius: var(--borderRadius_Sections);
    border-bottom-right-radius: var(--borderRadius_Sections);

    background-color: var(--color_contrastMain);
  }

  &:last-child {
    margin-bottom: 1rem;
  }
}

.turnsSummary {
  background-color: var(--logoMainColor);
  list-style-type: none;
  cursor: pointer;

  padding: 0.6rem;
  position: sticky;
  top: 0;
  border-radius: var(--borderRadius_Sections);

  display: flex;
  justify-content: space-between;
  align-items: center;

  .detailsExpandButton {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    background-color: rgba(0, 0, 0, 0.25);
    color: var(--fontColor_darkScheme);
    outline: 0 solid rgba(0, 0, 0, 0.6);
    width: 20px;
    height: 20px;
    border-radius: 100%;
    padding: 8px;

    transition: background-color 300ms;

    &::before, &::after {
      position: absolute;
      content: "";
      border: 4px solid;
      border-radius: 10%;
    }

    &::before {
      height: 20px;
      width: 0;
      transition: height 200ms ease;
    }
    
    &::after {
      width: 20px;
      height: 0;
    }
  }

  &:hover .detailsExpandButton {
    background-color: rgba(0, 0, 0, 0.1);
    outline: 4px solid rgba(0, 0, 0, 1); /* reemplazar por color contraste */
  }
}

details[open] > .turnsSummary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .detailsExpandButton::before {
    height: 0;
  }
}

.schedulePicker {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
  gap: 16px;

  &.noSchedule {
    grid-template-columns: 1fr;
  }

  .dayContainer {
    text-align: center;

    .journal {
      margin: 6px;
      border: 1px solid;
      border-radius: 8px;
      cursor: pointer;

      &.selected {
        background-color: var(--logoMainColor);
      }

      &.unavailable {
        background-color: rgba(162, 0, 0, 0.3);
        cursor: default;
      }
      
      &:hover {
        outline: 2px solid;
      }
      
      > p:first-child {
        font-weight: 500;
      }
    }
  }
}

#turnPicker {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#turnoForm .animate {
  animation: onChangeAnimation 400ms;
}

#searchTurns > header > form {
  align-items: center;
  background-color: var(--colorPrimario);
  color: var(--fontColor_darkScheme);

  div {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
  }

  .searchers {
    width: 100%;
    justify-content: space-around;

    & > div {
      width: 50%;
    }

    label {
      min-width: 30%;
      input {
        width: 100%;
      }
    }
  }

  input, select {
    color: var(--fontColor_darkScheme);
    background-color: var(--colorPrimario);

    &:focus-visible {
      background-color: transparent;
    }
  }

  option {
    color: var(--backgrounColor_darkScheme);
  }
}

@keyframes onChangeAnimation {
  0% {
    background-color: var(--color_contrastMain);
  }
  100% {
    background-color: initial;
  }
}
